{% load i18n %}

<p>{% trans "Hi" %} {{ user.get_full_name|default:user.username }},</p>

<p>{% trans "You requested a password reset for your account on our website." %}</p>

<p>{% trans "To reset your password, click the link below:" %}</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {% trans "Click here to reset your password" %}
    </a>
</p>

<p>{% trans "If you did not request a password reset, please ignore this email." %}</p>

<p>{% trans "Thanks," %}<br>
   {% trans "The Team" %}
</p>
